.Shumit {
    color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;    
}
h1{
    font-size: 50px;
}
.half{
    width: 50%;
    padding: 50px;
}
section{
    display: flex;
}
.link-button{
    text-decoration: none;  
    background-image: linear-gradient(salmon, orange);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color:white;
}
p{
    padding-bottom: 20px;
    text-align: justify;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    color: orange;
}
.bottom-section{
    display:table;
    padding: 100px;
    background-repeat: no-repeat;
    background-image: url(images/exp-bg.png);
    background-position-x: left;
    background-position-y:center;
}
.box{
    margin: 20px;
    padding: 40px;
    box-shadow: 5px 5px 40px gray;
    border-radius: 5px;  
}
#left-box{
    border-left: 5px solid ;
    border-image: linear-gradient(cyan, blue) ;
    border-image-slice: 1;
}
#right-box{
    border-left: 5px solid ;
    border-image: linear-gradient(green, aqua) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

